*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Tragicastle';
    src: url('Tragicastle.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /* Extraída do site DaFont */
}

@font-face {
    font-family: 'TOMORROW';
    src: url('TOMORROW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    /*(https://img.freepik.com/fotos-premium/um-leopardo-na-natureza-capturado-a-noite_781958-502.jpg?w=826);*/
    background-image: url(fundoFase1.png);
    background-size: cover;
    color: #f5edab;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecario{
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}
#boasVindas{
    text-align: center;
    font-family: Tragicastle;
    font-size: 40px;
    padding: 5px;
}
.principal{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
}
#pjogar{
    margin: 30px  10px;
    width: 300px;
    min-width: 200px;
}
#h3jogando{
    font-family: TOMORROW;
    font-size: 30px;
    
}
img{
    height: 250px;
    margin-top: 50px;
}
#imgBiologo{
    height: 230px;
}
.principal{
    margin-top: 30px;
}
.secundaria{
    text-align: center;
    align-items: center;
    border-style: double;
    margin: 10px 0;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 1px #ececad49;
}
.secundariaBiologo{
    text-align: center;
    align-items: center;
    border-style: double;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 1px #ececad49;
}
.botao .botaoVoltar{
    height: 50px;
    width: 140px;
    background: linear-gradient(to right, #9e6a1d,  #1d1501  );
    color: #f5edab;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px #f7f7a149;
    border: none;
}

.botao input{
    height: 50px;
    width: 140px;
    background: linear-gradient(to right, #9e6a1d,  #1d1501  );
    color: #f5edab;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px #f7f7a149;
    border: none;
}
input{
    margin: 0 5px;
    cursor: pointer;
}

.botaoVoltar a{
    text-decoration: none;
    color: #f5edab;
    
}

footer{
    background-color: #c2bc877c;
    color: rgb(243, 235, 235); 
    font-weight: bold;
    text-align: center;
    margin-top: 190px;
}

.botao :hover{
    color: #1f1c07;
    font-weight: bold;
    transition: 1s;
    background: linear-gradient(to right, #614d2e, #c7841f)  ;
}

/* @media(max-width:1280px){
    footer{
        margin-top: 250px;
        padding: 10px;
        font-size: 16px;
    } 
} */

@media(max-width:1000px){
    body{
        background-position: center;
    }
    #boasVindas{
        font-size: 30px;
    }
    #apresentacao{
        margin: 40px 0;
        font-size: 20px;
        text-align: center;
    }
    #imgGuarda{
        height: 300px; 
    }
    #imgHeroina{
        height: 230px;
    }
    #imgBiologo{
        height: 230px;
    }
    .principal{
        width: 900px;
        margin: -20px 10px;
        justify-content: space-between;
    }
    .secundaria{
        font-size: 20px;
        height: 450px;
        margin-left: auto;
        width: 280px;
    }
    #pjogar{
        width: 1px;
        margin-left: 35px;
    }
    #h3jogando{
        margin-top: -45px;
        font-size: 30px;
    }
    .botao input{
        width: 180px;
        margin: 10px 0;
        font-size: 18px;
        font-weight: bold;
    }
    .botao .botaoVoltar{
        width: 180px;
        margin: 10px 0;
    }
    .botaoVoltar{
        font-size: 18px;
    }
     footer{
        margin-top: 593px;
        padding: 10px;
        font-size: 16px;
    } 
} 

@media(max-width:900px){
    body{
        background-position: center;
    }
    #boasVindas{
        font-size: 25px;
    }
    #apresentacao{
        margin: 20px 0;
        font-size: 15px;
        text-align: center;
    }
    #imgGuarda{
        height: 230px; 
    }
    #imgHeroina{
        height: 200px;
    }
    #imgBiologo{
        height: 180px;
    }
    .principal{
        width: 350px;
        margin: 80px 0;
        justify-content: space-between;
    }
    .secundaria{
        font-size: 14px;
        height: 250px;
        margin-left: 250px;
        width: 240px;
    }
    #pjogar{
        width: 1px;
        margin: auto;
    }
    #h3jogando{
        margin-bottom: 40px;
        font-size: 20px;
    }
    .botao input{
        width: 150px;
        margin: 20px 0;
        font-size: 15px;
        font-weight: bold;
    }
    .botao .botaoVoltar{
        width: 150px;
        margin: 10px 0;
    }
    .botaoVoltar{
        font-size: 15px;
    }
     footer{
        margin-top: 603px;
        padding: 5px;
        font-size: 12px;
    } 
} 

@media(max-width:700px){
    body{
        background-position: center;
    }
    #boasVindas{
        font-size: 30px;
    }
    #apresentacao{
        margin: 40px 0;
        font-size: 16px;
        max-width: 98%;
        text-align: center;
    }
    #imgGuarda{
        height: 208px; 
    }
    #imgHeroina{
        height: 143px;
    }
    #imgBiologo{
        height: 143px;
    }
    .principal{
        width: 480px;
        margin: -20px 38px;
        justify-content: space-between;
    }
    .secundaria{
        font-size: 16px;
        width: 50%;
        height: 280px;
        margin-left: 50px;
    }
    #pjogar{
        width: 1px;
        margin-left: -10px;
    }
    #h3jogando{
        margin-top: -45px;
        font-size: 19px;
    }
    .botao input{
        width: 120px;
        margin: 10px 0;
        font-size: 13px;
        font-weight: bold;
    }
    .botao .botaoVoltar{
        width: 120px;
        margin: 10px 0;
    }
    .botaoVoltar{
        font-size: 13px;
    }
     footer{
        margin-top: 126px;
        padding: 6px;
        font-size: 12px;
    } 
} 

 @media(max-width:540px){
    body{
        background-position: center;
    }
    #boasVindas{
        font-size: 20px;
    }
    #apresentacao{
        margin: 20px;
        font-size: 14px;
        text-align: center;
    }
    #imgGuarda{
        height: 170px;
    }
    #imgHeroina{
        height: 130px;
    }
    #imgBiologo{
        height: 130px;
    }
    .principal{
        width: 280px;
        margin: auto;
        margin-left: 60px;
    }
    .secundaria{
        font-size: 14px;
    }
    #pjogar{
        width: 1px;
        margin-left: -30px;
    }
    #h3jogando{
        margin-top: -45px;
        font-size: 19px;
    }
    .botao input{
        width: 120px;
        margin: 30px 0;
        font-size: 13px;
        font-weight: bold;
    }
    .botao .botaoVoltar{
        width: 120px;
        margin: 10px 0;
    }
    .botaoVoltar{
        font-size: 13px;
    }
     footer{
        margin-top: 359px;
        padding: 6px;
        font-size: 12px;
    } 
} 
@media(max-width:414px){
    body{
        background-position: center;
    }
    #boasVindas{
        font-size: 18px;
        text-align: center;
    }
    #apresentacao{
        font-size: 12px;
        text-align: center;
    }
    #imgGuarda{
        height: 150px;
    }
    #imgHeroina{
        height: 115px;
    }
    #imgBiologo{
        height: 110px;
    }
    .principal{
        width: 210px;
        margin: -1px 10px;
    }
    .secundaria{
        font-size: 11px;
        width: 50%;
        height: 200px;
    }
    #pjogar{
        width: 1px;
        margin-left: -50px;
    }
    #h3jogando{
        margin-top: -45px;
        font-size: 17px;
    }
    .botao input{
        width: 115px;
        margin: 10px -20px;
        font-size: 12px;
        font-weight: bold;
    }
    .botao .botaoVoltar{
        width: 115px;
        margin-left: -5px;
    }
    .botaoVoltar{
        font-size: 12px;
    }
     footer{
        margin-top: 442px;
        padding: 4px;
        font-size: 11px;
    } 
}


@media(max-width:380px){
    body{
        background-position: center;
    }
    #boasVindas{
        font-size: 18px;
    }
    #apresentacao{
        font-size: 12px;
        max-width: 98%;
        text-align: center;
    }
    #imgGuarda{
        height: 160px;
    }
    #imgHeroina{
        height: 110px;
        
}
    #imgBiologo{
        height: 110px;
    }
    .principal{
        width: 200px;
        margin: auto;
        margin-left: -15px;
    }
    .secundaria{
        font-size: 11px;
        width: 50%;
        height: 200px;
    }
    #pjogar{
        width: 1px;
        margin-left: -50px;
    }
    #h3jogando{
        margin-top: -45px;
        font-size: 17px;
    }
    .botao input{
        width: 110px;
        margin: 10px -20px;
        font-size: 12px;
        font-weight: bold;
    }
    .botao .botaoVoltar{
        width: 110px;
    }
    .botaoVoltar{
        font-size: 12px;
    }
     footer{
        margin-top: 252px;
        padding: 4px;
        font-size: 11px;
    } 
}

@media(max-width:330px){
    body{
        background-position: center;
    }
    #boasVindas{
        font-size: 15px;
    }
    #apresentacao{
        font-size: 8px;
        margin-left: 5px;
    }
    #imgGuarda{
        height: 120px;
    }
    #imgHeroina{
        height: 90px;
    }
    #imgBiologo{
        height: 90px;
    }
    .principal{
        width: 190px;
    }
    .secundaria{
        font-size: 9px;
        height: 200px;
        margin-left: 2px;
    }
    /* #pjogar{
    
        
    } */
    #h3jogando{
       font-size: 15px;
    }
    .botao input{
        width: 100px;
        margin: 10px 0;
        font-size: 10px;
        font-weight: bold;
    }
    .botao .botaoVoltar{
        width: 100px;
    }
    .botaoVoltar{
        font-size: 10px;
    }
     footer{
        margin-top: 128px;
        font-size: 8px;
    } 
}

@media(max-width:280px){
    body{
        background-position: center;
    }
    #boasVindas{
        font-size: 15px;
    }
    #apresentacao{
        font-size: 10px;
    }
    #imgGuarda{
        height: 160px;
    }
    #imgHeroina{
        height: 110px;
    }
    #imgBiologo{
        height: 110px;
    }
    .principal{
        width: 180px;
        margin: 10px 1px;
    }
    .secundaria{
        font-size: 10px;
        width: 54%;
        height: 200px;
    }
    #pjogar{
        width: 1px;
        margin-left: -50px;
    }
    #h3jogando{
        margin-top: -45px;
        font-size: 15px;
    }
    .botao input{
        width: 100px;
        margin: 10px 0;
        font-size: 10px;
        font-weight: bold;
    }
    .botao .botaoVoltar{
        width: 100px;
    }
    .botaoVoltar{
        font-size: 10px;
    }
     footer{
        margin-top: 350px;
        padding: 3px;
        font-size: 10px;
        width: 355px;
    } 
}
/* @media(min-width:1440px){
    
     footer{
        margin-top: 250px;
        padding: 10px;
        font-size: 16px;
    } 
}  */





