
@font-face {
    font-family: 'Inlanders';
    src: url('../desafioFinal/Inlanders\ Demo.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    /* Extraída do site DaFont */
}


body{
    background-image: url('https://img.freepik.com/vetores-gratis/fundo-de-luxo-realista_23-2149326193.jpg');
    background-size: cover;
    color: #F1E99A;
}

h1{
    text-align: center;
    font-size: 55px;
    font-family: 'Inlanders'
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    margin-top: 60px;
   text-align: center;
}
footer{
    text-align: center;
    margin-top: 158px;
}

@media(max-width: 912px){
    body{
        background-position: left;
    }
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 30px;
    }
    footer{
        margin-top: 920px;
        font-size: 20px;
    }
}

@media(max-width: 820px){
    body{
        background-position: left;
    }
    h1{
        font-size: 25px;
    }

    h2{
        font-size: 25px;
    }
    
    footer{
        margin-top: 600px;
    }
}


@media(max-width: 600px){
    body{
        background-position: left;
    }
    h1{
        font-size: 22px;
    }

    h2{
        font-size: 20px;
    }

    
    footer{
        margin-top: 420px;
    }
}

@media(max-width: 500px){
    body{
        background-position: left;
    }
    h1{
        font-size: 21px;
    }

    h2{
        font-size: 20px;
    }


    footer{
        margin-top: 450px;
        background-color: #452c08;
    }
}

@media(max-width: 390px){
    body{
        background-position: left;
    }
    h1{
        font-size: 21px;
    }

    h2{
        font-size: 20px;
    }

    footer{
        font-size: 12px;
        margin-top: 425px;
    }
}

@media(max-width: 280px){
    body{
        background-position: left;
    }
    h1{
        font-size: 21px;
    }

    h2{
        font-size: 20px;
    }

    footer{
        margin-top: 200px;
        font-size: 12px;
        margin-top: 370px;
    }
}